<div id="demo">
  <div class="code-container">
    <textarea id="code" rows="16" cols="80">
for (var i = 0; i < 10; i++) {
  console.log(i);
}
    </textarea>
  </div>

  <div class="status-container">
    <div class="status-group">
      <label>Whitelist</label>
      <input id="whitelist" value="ForStatement">
      <span class="status"></span>
    </div>

    <div class="status-group">
      <label>Blacklist</label>
      <input id="blacklist" value="WhileStatement,WithStatement">
      <span class="status"></span>
    </div>

    <div class="status-group">
      <label>Query</label>
      <input id="query" value="ForStatement > VariableDeclaration">
      <span class="status"></span>
    </div>
  </div>

  <p class="info">
    For more details on the query syntax, see <a href="https://developer.mozilla.org/en-US/docs/Mozilla/Projects/SpiderMonkey/Parser_API">the ESTree docs</a> and <a href="https://github.com/estools/esquery">the ESQuery docs</a>.
  </p>
</div>
